.container8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 100px;
}
.container8 > h1 {
  margin-bottom: 100px;
}
.container8 > div {
  padding: 50px;
  margin-bottom:50px;
  box-shadow: var(--shadow-2);
  border-radius: 10px;
}
.container8 > div > div {
  border-bottom: 1px solid var(--text-grey);
}
.container8 > div > div:last-child {
  border-bottom: none;
}
.container8 > div > div > h3 {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-dark);
  margin: 20px 0;
}
.container8 > div > div > p {
  margin-bottom: 20px;
  color: var(--text-dark);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
