.tryoutbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 10px;
  padding: 15px 100px;
  color: var(--white);
  font-style: normal;
  border: 1px solid var(--primary);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.tryoutbutton:hover {
  cursor: pointer;
}

.tryoutbutton > img {
  margin-right: 10px;
}

@media screen and (max-width: 760px) {
  .tryoutbutton  {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 420px) {
  .tryoutbutton  {
    padding: 15px 30px;
  }
}