.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 h1 {
  font-family: var(--font-inter);
  color: var(--text-dark);
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}
.container2 > div {
  display: flex;
  align-items: center;
  width: 65%;
}
.container2 > div .number {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 130px;
  line-height: 162px;
  margin-right: 20px;
  color: var(--text-black);
}
.container2 > div img {
  width: 200px;
  height: 200px;
}
.container2 > div:nth-child(even) img {
  width: 200px;
  height: 200px;
  margin-left: 40px;
}
.container2 > div:nth-child(odd) img {
  width: 200px;
  height: 200px;
  margin-right: 40px;
}
.container2 > div .detail > h3 {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
  color: var(--text-dark);
}
.container2 > div .detail > p {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-dark);
}
@media screen and (max-width: 600px) {
  .container2 > div {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .container2 > div {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container2 > div:nth-child(even) img {
    margin-left: 0px;
  }
  .container2 > div:nth-child(odd) img {
    margin-right: 0px;
  }
  .container2 > div .detail > h3 {
    text-align: center;
  }
  .container2 > div .detail > p {
    text-align: center;
    width: 100%;
  }
}
